/* ************************ 	*/
/* Global styles 				*/
/* ************************ 	*/
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: black;
	padding: 0px; 
	margin: 0px;
	background-color: #333;
}

img {
   display: block !important;
}
img.image {
   border: 1px dotted white;
   display: block !important;
}
div#main {
    position: absolute;
}
