/* ************************ 	*/
/* Global styles 				*/
/* ************************ 	*/
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: black;
	padding: 0px; 
	margin: 0px;
	background-color: #333;
}

h1, h2, h3, h4 {
	display: inline-block;
	text-decoration: none;
	color: #ccc;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold; 
	margin: 0px;
	padding-left: 15px;
	padding-top: 15px;
}
h1 {
	font-variant: small-caps;
}
h1:first-letter {
	font-size: 1.5em;
	font-weight: bold; 
	color: #9ff; 
}
h2 {
	margin: 0px; padding-top: 0px;
}
h5 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.6em;
	font-weight: normal;
	display: block;
	margin:0px 20px 0px 20px;
	color: #527592;
	border-bottom: 1px dotted #579;
}

p { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: 100;
}

ul li {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 0.8em;
}

ul li:first-letter {
	color: #9ff;
}

a {
	margin: 0; padding:0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	text-align: center;
	font-size: 1em;
	border: 0px;
}
a:visited { color: #fff }
a:link { color: #fff }
a:active { color: #f00 }
a:hover { color: #9ff }
a.button {
	display: block;
	margin: 0; padding:0;
	width: 100px; height: 20px;
	background:url(img/buttons.gif) top left no-repeat;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	text-align: center;
	font-size: 75%;
	border: 0px;
}
a.button:link { color: #000 }
a.button:active { color: #f00 }
a.button:hover { 
	background-position: -100px 0;
	color: #c63;
}
a.model { 
	float: right;
	background:url(img/model.gif) top left no-repeat;
	background-color: #fff;
	width: 32px;
	height: 32px;
	border: thin dotted #579;
	margin-right: 20px;
}
a.model:link { background-color: #fff }
a.model:active { color: #f00 }
a.model:hover { 	background-color: #9ff; background-position: -32px 0; }

img {
   display: block !important;
}
img.image {
   border: 1px dotted white;
   display: block !important;
}


/* ************************ 	*/
/* Tables 	 				*/
/* ************************ 	*/
table {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	text-align: left;
	font-size: 0.8em;
	
	border-style: dotted;
	border-width: 0px;
	border-collapse: collapse;
	border-color: #579;
	
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}
tr { height: 25px }
tr.title {
	background-color: #579;
	font-weight: bold;
	font-size: 0.8em;
	color: #9ff;
}
td.plink {
	border-width: 1px;
	border-style: dotted;
	background-color: #fff;
	padding: 6px;
	color: #579;
}
tr.title td.plink {
	background-color: #cff;
}
td.plink a {
	color: #579;
}
td.plink a:hover {
	color: #f00;
}
td {
	border-width: 1px;
	border-right: 0px;
	border-left: 0px;
	border-style: dotted;
	padding: 6px;
}

/* ************************ 	*/
/* Forms 	 				*/
/* ************************ 	*/
form {
	width: 30%;
	margin-left: 35%;
	margin-right: 35%;
}
form p {
	margin: 0px; padding: 0px;
	margin-top: 15px;
	font-weight: bold;
	color: #579;
}
form p:first-letter {
	font-size: 1.25em;
	color: #fff;
}
form input {
	border: 1px dotted #579;
	margin-bottom: 10px;
	width: 100%;
}
form input.submit {
	margin-left: 35%;
	margin-right: 35%;
	width: 30%;
}

/* ************************ 	*/
/* Classes 	 				*/
/* ************************ 	*/

/* 	REVIEWS		*/
.rect {
	background: #9fc1d3 ;
	margin-top: 20px;
	margin-bottom: 5px; 
}
div.rect h2 {
	color: white;
}
div.rect div.roundtop { 
	background: url(img/tr.gif) no-repeat top right; 
}
div.rect div.roundbottom {
	background: url(img/br.gif) no-repeat top right; 
}

/* 	COMMENTS		*/
div.child_rect {
	background-color: #527592;
	margin: 20px 20px 0px 20px;
	color: #eee;
}
div.child_rect p {
	background-color: transparent;
	color: #eee;
	font-weight: 200;
}
div.child_rect h2 {
	font-size: 0.8em;
	color: white;
}
div.child_rect h5 {
	color: #91adc1;
	border-bottom: thin dotted #91adc1;
}
div.child_rect div.roundtop { 
	background: url(img/c_tr.gif) no-repeat top right; 
}
div.child_rect div.roundbottom {
	background: url(img/c_br.gif) no-repeat top right; 
}
div p {
	margin-left: 20px;
}


/* ************************ 	*/
/* Defined styles 				*/
/* ************************ 	*/
p#topic_text {
	margin: 0px;
	padding-bottom: 15px;
	color: #9ff;
}
div#topic {
	margin-bottom: 20px;
	background-color: #567;
	border-bottom: 5px solid #9ff;
}
div#topic h5 {
	color: #9ff;
	border: 0px;
}
div#topic a {
	color: #fc9;
	border: 0px;
}
div#topic a:hover { color: #fff }
div#main {
	margin: 0px 15px 0px 15px;
}
div#footer { text-align: center; margin-top: 20px; }
div#footer a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;	
	text-align: left;
	font-weight: normal; 
	font-size: 0.8em;
	padding: 2px 4px 2px 4px;
	background-color: #c5d2e3;
	border: thin dotted #579;
}
div#footer a:link    { color: #0000f0 }
div#footer a:visited { color: #456 }
div#footer a:active  { color: #f00 }
div#footer a:hover { 
	background-color: #9ff;
	border: solid dotted #9ff; 
}